*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body{
    background-image: url(https://64.media.tumblr.com/d9b1fd37b006106371d79211df782adb/f8d8e604ebf56233-1a/s1280x1920/d35b9bc0a3296c996fac4c07967a9b466578843c.png);
}

.alinha {
    display: flex;
    justify-content: space-around;
    
}


.inicio {
    
    color: rgb(202, 192, 192);
    font-size: large;
    width: 100vw;
    background-color: #2a0369;
    text-align: center;
    padding: 20px;
}

.container{
    
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 35px;
    width: 300px;
    height: 320px;
    padding: 20px;
    justify-content: space-around;
}

.container:nth-child(2) { 
    background-color: gray;
}
.container:nth-child(3) { 
    background-color: plum;
}
.container:nth-child(4) { 
    background-color: #EE801F
}
.container:nth-child(5) { 
    background-color: rgb(127, 169, 195);
}

.containerText{
    font-size: 14px;
    font-family: "Rubik", sans-serif;
    color: rgb(238, 243, 249);
}

.letraGrande{
    text-align: center;
    color: rgb(238, 243, 249);
}

.link{
    cursor: pointer;
    text-decoration: none;
    color: black;
    width: 100%;
    transition: 0.5s;
}

.link:hover{
    opacity: 50%;
}

.link:nth-child(2) {
    color: yellow;
}

.rodape {

    width: 99%;
    
    color: rgb(232, 231, 231);
    border-radius: 20px;
    background-color: #2a0369;
    padding: 20px;
    margin: auto;
}
