* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #E2D2DC;
  font-family: Helvetica, Verdana, sans-serif;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

header {
  background-color: #E2D2DC;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  
  width: 160px;
}

.navbar {
  display: flex;
  gap: 100px; /* Espaço entre os links */
  justify-content: center;
  flex-grow: 4; /* Permite centralizar os itens no header */
}

.navbar a {
  text-decoration: none;
  color: black;
  font-size: 1em;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #a6bcd4;
}

.banner {
  width: 100%;
  height: 700px;
  background-image: url("https://i.redd.it/96pg2m2tchna1.png");
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
}

.bannerButton {
  position: absolute;
  top: 280px;
  left: 150px;
  padding: 10px 20px;
  width: 140px;
  height: 70px;
  font-size: 1.2em;
  color: black;
  background-color: #E2D2DC;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bannerButton:hover {
  background-color: #19487a;
}

.containerCards {
  display: flex;
  justify-content: space-around;
  background-color: #ADA6AD;
}

.artistCard {
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 35px;
  width: 300px;
  height: 320px;
  padding: 20px;
  justify-content: space-around;
}

.bodyText {
  text-align: justify;
}

.bacckground {
  width: 100%;
  min-height: 200vh;
  object-fit: cover;
}

footer {
  height: 150px;
  text-align: center;
  padding: 20px;
  background-color: #E2D2DC;
  color: #fff;

}
