*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.quadrado{

    height: 130px;
    width: 140px;
    position: absolute;
    font-weight: 900;
}

.quadrado:nth-child(1) { 
    background-color: gray;
    margin-top: left;  
    top: 0px;
    left: 0px;
}
.quadrado:nth-child(2) { 
    background-color: plum;
    top: 0px;
    right: 0px;
}
.quadrado:nth-child(3) { 
    background-color: lightsalmon;
    bottom: 0px;
    right: 0px;
}  
.quadrado:nth-child(4) { 
    background-color: lightblue;
    left: 0px;
    bottom: 0px;
}

